<h1>Mes Étagères</h1>

<%= link_to 'Créer une étagère', new_bookshelf_path %>

<% if @bookshelves.count > 0 %>
  <% @bookshelves.each do |bookshelf| %>
    <div>
      <%= link_to bookshelf_path(bookshelf) do %>
        <p>
          <%= bookshelf.name %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
