<h1>Mes Étagères</h1>

<%= link_to 'Créer une étagère', new_bookshelf_path, class: 'button' %>

<div class="bookshelves my-5">
  <% if @bookshelves.count > 0 %>
    <% @bookshelves.each do |bookshelf| %>
      <div class='bookshelf my-5'>
        <h2>
          <%= bookshelf.name %>
        </h2>
        <div>
          <%= link_to 'Voir la liste', bookshelf_path(bookshelf), class: 'button' %>
          <%= link_to 'Supprimer', bookshelf_path(bookshelf), data: {turbo_method: :delete , turbo_confirm: 'Are you sure?' }, class: 'button' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
