<h1>Crée une étagère</h1>

<%= simple_form_for @bookshelf do |f| %>
  <%= f.input :name, label: 'Nom', wrapper_html: {class: 'my-5'} %>
  <%= f.button :submit,'Créer votre étagère', class: 'button' %>
<% end %>
