<h1>
  <%= @book["volumeInfo"]["title"] %>
</h1>

<% if @book["volumeInfo"]["imageLinks"].nil? %>
  <img src="https://via.placeholder.com/150" alt="">
<% else %>
  <img src="<%= @book["volumeInfo"]["imageLinks"]["thumbnail"] %>" alt="toto">
<% end %>

<%= link_to 'Retour', :back %>
