<div class="header">
  <div class="header--logo">
    <%= image_tag 'https://via.placeholder.com/30' %>
  </div>
  <div class="header--links">
    <%= link_to 'Accueil', :root %>
    <%= link_to 'Mes étagères', bookshelves_path %>
    <%= link_to 'Mon compte', bookshelves_path %>
  </div>
</div>
